* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: url(./common/images/star-sky.png) no-repeat 0 0;
    background-size: cover;
    background-color: black;
    color: white;
}

@font-face {
    font-family: '蝉羽胡杨体';
    src: url('./common/font/蝉羽胡杨体.ttf') format('truetype');
}
